<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
    <add key="SteeltoeMaster" value="https://www.myget.org/F/steeltoemaster/api/v3/index.json" />
    <add key="SteeltoeDev" value="https://www.myget.org/F/steeltoedev/api/v3/index.json" />
	<add key="Syncfusion_ASP.NET" value="http://nuget.syncfusion.com/nuget_aspnet/nuget/getsyncfusionpackages/aspnet" />
	<add key="Syncfusion_ASP.NET Core" value="http://nuget.syncfusion.com/nuget_aspnetcore/nuget/getsyncfusionpackages/aspnetcore" />
	<add key="Syncfusion_ASP.NET MVC" value="http://nuget.syncfusion.com/nuget_aspnetmvc/nuget/getsyncfusionpackages/aspnetmvc" />	
  </packageSources>
</configuration>
