@model CloudFoundryViewModel
@{
    ViewData["Title"] = "Home";
}
<div class="jumbotron">
    <div class="media">
        <a class="pull-left" href="http://pivotal.io">
            <img class="" src="~/images/icon_pivotal_generic@2x.png" title="Dotnet" alt="Dotnet" height="40" width="40" />
        </a>
        <div class="media-body" valign="middle">
            <h2 class="media-heading">Pivotal Application Services for .NET</h2>
        </div>
    </div>
    <p class="lead">Cloud Ready to Cloud Native </p>
    <p class="lead">Whether you are supporting legacy applications or developing new microservices on .NET Framework or .NET Core, Pivotal Application Services can help you focus on your code and not the infrastructure.</p>
    <p>
        <a href="@Model.ConfigData.AppsManagerUrl" class="btn btn-primary btn-lg" target="_blank">Apps Manager &raquo;</a>
    </p>
</div>
