@model CloudFoundryViewModel
@{
    ViewData["Title"] = "Home";
}
<div class="jumbotron-heading" margin-top="10">
    <div class="align-middle" >
        <div class="media-heading">
            <center><h1>Pivotal Application Services for .NET</h1></center>
        </div>
    </div>
    @*<p class="lead">Cloud Ready to Cloud Native </p>
    <p class="body-content">Whether you are supporting legacy applications or developing new microservices on .NET Framework or .NET Core, Pivotal Application Services can help you focus on your code and not the infrastructure.</p>*@
</div>
<div class="row" align="center">
    <a href="@Model.ConfigData.OpsManagerUrl" class="btn btn-primary btn-md" target="_blank">Ops Manager &raquo;</a>
    <a href="@Model.ConfigData.AppsManagerUrl" class="btn btn-primary btn-md" target="_blank">Apps Manager &raquo;</a>
    <a href="https://steeltoe.io" class="btn btn-primary btn-md" target="_blank">Steeltoe &raquo;</a>
    <a href="https://github.com/steeltoeoss/Samples" class="btn btn-primary btn-md" target="_blank">Steeltoe Samples &raquo;</a>
    <a href="@Model.ConfigData.GithubRepoUrl" class="btn btn-primary btn-md" target="_blank">Source Code &raquo;</a>
    <a href="@Model.ConfigData.PipelineUrl" class="btn btn-primary btn-md" target="_blank">CI/CD Pipeplines &raquo;</a>
</div>
<div class="row" align="center">
    <h3><b>Workshop Application Architecture</b></h3>
</div>
<div class="row" align="center">
    <img class="" src="~/images/application.png" title="Fortune" alt="Fortune" width="600" />
    <br/>
</div>

