@{
    ViewData["Title"] = "Resources";
}
<div class="panel-heading">
    <div class="media">
        <a class="pull-left" href="http://steeltoe.io">
            <img class="" src="http://steeltoe.io/images/transparent.png" title="Steeltoe" alt="Steeltoe" width="40" height="40" />
        </a>
        <div class="media-body">
            <h2 class="media-heading">Steeltoe and .NET Resources</h2>
        </div>
    </div>
    <h3>Painless microservice patterns for .NET</h3>
    <p>For all their benefits, microservice architectures expose many distributed computing problems that traditional monoliths avoided. Steeltoe brings the power of resilient, scalable microservices to .NET developers, without all the headache.</p>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>.NET Resources</h3>
        <ul>
            <li><a href="http://steeltoe.io" target="_blank">Steeltoe Website</a></li>
            <li><a href="https://github.com/steeltoeoss/Samples" target="_blank">Steeltoe .NET Sample Code</a></li>
            <li><a href="https://dotnet-cookbook.cfapps.io/intro/" target="_blank">Pivotal .NET Cookbook</a></li>
            <li><a href="https://github.com/macsux/cfdotnetdebug" target="_blank">Debugging .NET Core Applications on Pivotal Cloud Foundry</a></li>
            <li><a href="https://network.pivotal.io/" target="_blank">Pivotal Software Library</a></li>
            <li><a href="https://marketplace.visualstudio.com/items?itemName=ms-vsts.cloud-foundry-build-extension" target="_blank">Microsoft Cloud Foundry Team Services Plug-in</a></li>
            <li><a href="https://swagger.io/">Swagger Web API documentation and front-end</a></li>
            <li><a href="https://syncfusion.com/">Syncfusion UI Controls</a></li>
        </ul>
        <h3>Other Resources</h3>
        <ul>
            <li><a href="https://martinfowler.com/articles/break-monolith-into-microservices.html" target="_blank">How to break a Monolith into Microservices</a></li>
        </ul>
    </div>
</div>
