@{
    ViewData["Title"] = "View";
}
<div class="panel-heading">
    <div class="media">
        <a class="pull-left" href="http://pivotal.io">
            <img class="" src="~/images/Messaging.png" title="Cloud Foundry" alt="PCF" width="40" height="40" />
        </a>
        <div class="media-body">
            <h2 class="media-heading">Messaging for .NET and Console Applications</h2>
        </div>
    </div>
    <h3>RabbitMQ using the Steeltoe Connector</h3>
    <p>Pivotal Application Services is not just for Web and Web API applications. Steeltoe can enable console applications to unlock the power of the platform. This page demonstrates the ability to implement a console based messaging application that can scale.</p>
</div>
<div class="row">
    <div class="col-lg-12">
        <h4>Instructions</h4>
        <p>To view the messages sent from this page, open a console window and stream the logs for the RabbitConsoleService console application using the command `cf logs RabbitService`. Use the apps manager to scale up the number of listeners.</p>
    </div>
</div>
<div class="media-object"><hr /></div>
<div class="row">
    <div class="col-lg-12">
        <h4>Send a single RabbitMQ Message</h4>
        <p>Building messaging features into a .NET application is simple using Steeltoe and RabbitMQ on PAS.</p>
        <form asp-controller="Messaging"
              asp-action="Send"
              method="post">
            Message:
            <input type="text" name="Message" value="" />

            <input type="submit" value="Send" class="btn btn-primary"/>
        </form>
    </div>
</div>
<div class="media-object"><hr /></div>
<div class="row">
    <div class="col-lg-12">
        <h4>Send a blast of RabbitMQ Messages</h4>
        <p>Easily scale services by moving "Windows Services" onto the cloud.</p>
        <form asp-controller="Messaging"
              asp-action="Blast"
              method="post">
            Number of messages to send:
            <input type="number" name="Count" value="100" />
            <input type="submit" value="Blast" class="btn btn-primary"/>
        </form>
    </div>
</div>
<div class="media-object"><hr /></div>
